* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
body {
    background: #F5F5F5;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
header {
    width: 100%;
    height: 2.4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    .title {
        display: flex;
        justify-content: center;
        .title-box {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 5px;
            img {
                width: 2.6rem;
                height: 2.1rem;
            }
            p {
                font-size: 15px;
                color: #333;
                margin-left: -2rem;
                margin-top: -5px;
            }
            span {
                width: 3.6rem;
                height: 1.6rem;
                background: #ea6f5a;
                font-size: 14px;
                font-weight: 700;
                border-radius: 4px;
                line-height: 1.6rem;
                text-align: center;
                a{
                    color: #FFFFFF;
                }
            }
        }
    }
}
section {
    width: 100%;
    padding-top: 2.4rem;
    margin-bottom: 1rem;
    .column {
        width: 100%;
        height: 6.3rem;
        position: relative;
        background: #FFFFFF;
        ul {
            width: 80%;
            height: 100%;
            display: block;
            z-index: 10;
            margin-left: 1rem;
            li {
                line-height: 0.8rem;
                padding-top: 1rem;
                list-style: inside;
                color: #4a4a4a;
                font-size: 14px;
            }
        }
        img {
            position: absolute;
            right: 0;
            top: 0;
            width: 6.5rem;
            height: 100%;
            float: right;
        }
    }
    .menu {
        width: 100%;
        height: 2.1rem;
        background: #f5f5f5;
        b {
            color: #545454;
            line-height: 2.1rem;
            margin-left: 1rem;
            font-size: 14px;
        }
    }
    .nav {
        width: 100%;
        height: 7rem;
        display: flex;
        background: #FFFFFF;
        align-items: center;
        .subnav {
            width: 90%;
            height: 90%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            a {
                margin-top: 0.2rem;
                height: 1.5rem;
                display: block;
                padding: 0 0.4rem;
                font-size: 0.7rem;
                border: 1px solid #ea6f5a;
                color: #ea6f5a;
                border-radius: 4px;
                margin-right: 12px;
                line-height: 1.5rem;
            }
        }
    }
    .content{
        width: 100%;
        height: auto;
        background: #FFFFFF;
        .list{
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            margin-left: 5%;
            border-bottom: 1px solid #F0F0F0;
            padding-bottom: 1rem;
            .xq{
                width: 9.5rem;
                height: 100%;
                .one{
                    height: auto;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    img{
                        width: 1.1rem;
                        height: 1.1rem;
                        border-radius: 50%;
                        margin-right: 0.5rem;
                    }
                    a{
                        font-size: 13px;
                        color: #333333;
                    }
                    span{
                        font-size: 13px;
                        color: #969696;
                    }
                }
                .two{
                    margin-top: 0.5rem;
                    font-size: 17px;
                    color: #333333;
                    font-weight: 600;
                    line-height: 1.2rem;
                }
                .three{
                    margin-top: 0.5rem;
                    display: flex;
                    align-items: center;
                    p{
                        color: #8a8a8a;
                        margin-right: 0.25rem;
                    }
                    img{
                        width: 0.7rem;
                        height: 0.6rem;
                        margin-right: 0.25rem;
                    }
                }
            }
            .tp{
                display: block;
                margin-left: 0.2rem;
                width: 4.1rem;
                height: 4.1rem;
                border-radius: 4px;
                border: 1px solid #f0f0f0;
            }
        }
    }
}
//.block {
//  width: 100%;
//  height: 1rem;
//  background: #F5F5F5;
//}


footer {
    background: #FFFFFF;
    width: 100%;
    height: 7.8rem;
//  position: fixed;
//  bottom: 0;
    .loginbar{
        width: 100%;
        height: 4.25rem;
        text-align: center;
        line-height: 4.25rem;
        a{
            color: #969696;
            font-size: 16px;
        }
    }
    .xz{
        width: 100%;
        height: 3.55rem;
        .box{
            margin: 0 auto;
            width: 14.5rem;
            height: 2.5rem;
            background: #42c02e;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            img{
                width: 1.1rem;
                height: 1.1rem;
            }
            a{
                font-size: 16px;
                color: #FFFFff;
            }
        }
    }
}

